li {
  list-style-type: none;
}

.banner-name {
  font-size: 3em;
  font-family: 'Indie Flower' , cursive;
}

.navbar {
  margin-left: -30px;
  margin-right: -30px;
}

.index-question {
  font-size: 2em;
}

.edit-form {
  float: right;
}

.new-button {
  margin-bottom: 40px;
}

.answer-post {
  font-size: 1.7em;
  margin-left: 30px;
}
